p= link_to @band.name, @band
h1= @user.name
p= @membership.instrument
= simple_format(@membership.bio)

- if MembershipPolicy.new(current_user, @membership).edit?
  p= link_to 'Edit Details', edit_membership_path(@membership)
